@font-face {
  font-family: 'CodeFont';
  src: url(assets/fonts/monogram.ttf);
}

#root {
  position: relative;
  display: flex;
}

#root #ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 900;
  height: 1600;
}

#root #docs {
  font-family: 'CodeFont', Fallback, sans-serif;
  font-size: 24px;
  padding: 20px;
  position: relative;
  flex-grow: 1;
  background-color: gray;
  padding-top: 0px;
}

#ui .editor {
  font-family: 'CodeFont', Fallback, sans-serif;
  font-size: 68px;
  position: absolute;
  top: 100px;
  left: 500px;
  background: #808080e8;
  color: white;
  width: 600px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  letter-spacing: normal;
  line-height: 50px;
}

#ui .editor .actualEditor {
  width: 80%;
  height: 100%;
}

#ui .editor .actualEditor .editor-instruction {
  color: #aacc21;
}

#ui .editor .actualEditor .editor-event-type {
  color: #ff9900;
}

#ui .editor .buttons {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#ui .editor .buttons p {
  color: #b1b1b1;
  font-size: 42px;
  align-self: flex-end;
  display: flex;
  margin-top: auto;
}

#ui .editor .buttons .registers {
  font-size: 35px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#ui .editor .buttons .registers .register {
  color: #95b9d8;
  border: solid #535156 3px;
  margin-top: 10px;
  padding-left: 5%;
  height: 21%;
  width: 90%;
  line-height: 40px;
}

#ui .editor .buttons .registers .register .register-value {
  color: #d89595;
}

#ui .editor .buttons button {
  font-family: 'CodeFont', Fallback, sans-serif;
  font-size: 35px;
  align-self: flex-start;
  margin-bottom: 5%;
  line-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
