@font-face {
  font-family: 'CodeFont';
  src: url(assets/fonts/monogram.ttf);
}

#root {
  position: relative;
  display: flex;
}

#root #ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 900;
  height: 1600;
}

#root #docs {
  font-family: 'CodeFont', Fallback, sans-serif;
  font-size: 28px;
  padding: 20px;
  position: relative;
  flex-grow: 1;
  background-color: gray;
}

#ui .editor {
  font-family: 'CodeFont', Fallback, sans-serif;
  font-size: 68px;
  position: absolute;
  top: 100px;
  left: 500px;
  background: #808080e8;
  color: white;
  width: 600px;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

#ui .editor .actualEditor {
  width: 80%;
  height: 100%;
}

#ui .editor .buttons {
  width: 20%;
  height: 100%;
}

#ui .editor .buttons button {
  font-family: 'CodeFont', Fallback, sans-serif;
  font-size: 50px;
}
